body
{
  background : #2c3e50;
  padding: 0;
  margin : 0;
  color: white;
  font: Roboto;
}
#top-bar {
  background: #f39c12;
  position: relative;
  overflow: hidden;
  color: white;
}
#messageIntro
{
  display: block;
  padding: 0;
  height: 15vh;
  width: 100vw;
}
#messageIntroSelf
{
  align-content: left;
  display: flex;
  margin-right: 30%;
  width: 100%;
  padding: 0;
  height: 15vh;
}
#messageIntroOther
{
  margin-left: 30%;
  margin-right: 0;
  right: 0px;
  float : right;
  display: flex;
  align-content: right;
  padding: 0;
  width: 100%;
  height: 15vh;
}
#convo
{
  margin: 0;
  padding: 0;
}
#selfMessages
{
  align-content: right;
  width: 80%;
  padding: 0;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
}
li
{
  display: flex;

}
footer
{
  align-content: center;
  margin-top: 25%;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
textarea
{
  background-color: #ecf0f1;
  width: 95%;
  height: 6vh;
  align-content: center;
}
#submit
{
  background-color: #27ae60;
  opacity: 75%;
  width: 10%;
  border: none;
  color: white;
  font-family: 'Roboto Condensed';
  font-size: 110%;
}
h1
{
  font-family: 'Roboto Condensed';
}
input
{
  height: 200%;
  width: 50%;
  display: flex;
  align-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
