body
{
  background : #95a5a6;
  padding: 0;
  margin : 0;
}
#top-bar {
  background: #2c3e50;
  position: relative;
  overflow: hidden;
  color: white;
}
#messageIntroSelf
{
  align-content: left;
  display: flex;

  padding: 0;
  height: 15vh;
}
#messageIntroOther
{

  display: flex;
  align-content: right;
  padding: 0;

  height: 15vh;
}
#convo
{
  margin: 0;
  padding: 0;
}
#selfMessages
{
  align-content: right;
  width: 80%;
  padding: 0;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
}
li
{
  display: flex;

}
footer
{
  align-content: center;
  margin-top: 30%;
  width: 100%;
  display: flex;
}
textarea
{
  width: 100%;
  align-content: center;
}
input
{
  height: 200%;
  width: 50%;
  display: flex;
  align-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
