body
{
  background : #f2f2f2;
}
#top-bar {
  background: #666;
  position: relative;
  overflow: hidden;
  color: white;
}
#messageIntro
{

  width: 100%;
  height: 15vh;
  padding-left: 6%;
  padding-top: 1%;
  visibility: true;
  opacity: 75%;
}
li
{
  display: flex;

}
footer
{
  align-content: center;
  margin-top: 30%;
  width: 100%;
  display: flex;
}
textarea
{
  width: 100%;
  align-content: center;
}
input
{
  height: 200%;
  width: 50%;
  display: flex;
  align-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
